body {
    margin: 0;
    background: #0f0f10;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

#profileBtn {
    width: 40px;
    cursor: pointer;
}

#app {
    min-height: 85vh;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    opacity: 0.7;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #1c1c1e;
    border: none;
    color: white;
}

.folder, .file {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.file:hover, .folder:hover {
    background: #222;
}

mark {
    background: #444;
    color: #fff;
}